Repository coralogix/arrow-datafusion, pull requests merged in 2024-09, with the labels that each got.

#266 Fix workaround for is not null
  datafusion/common/src/scalar/mod.rs
  datafusion/core/tests/dataframe/mod.rs
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-expr/benches/is_null.rs
  datafusion/physical-expr/src/expressions/is_not_null.rs
  datafusion/physical-expr/src/expressions/is_null.rs
Labels: core, physical-expr

#267 Support encoding and decoding UnnestExec
  datafusion/physical-expr/Cargo.toml
  datafusion/physical-plan/src/unnest.rs
  datafusion/proto/proto/datafusion.proto
  datafusion/proto/src/generated/pbjson.rs
  datafusion/proto/src/generated/prost.rs
  datafusion/proto/src/physical_plan/mod.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
  datafusion/sqllogictest/test_files/parquet.slt
Labels: physical-expr, sqllogictest

#268 Cherry-pick is not null pushdown
  datafusion/optimizer/src/filter_null_join_keys.rs
  datafusion/optimizer/src/push_down_filter.rs
  datafusion/optimizer/tests/optimizer_integration.rs
Labels: optimizer
