Repository coralogix/arrow-datafusion, pull requests merged in 2024-10, with the labels that each got.

#272 Add CoalescePartitionsExec
  .github/workflows/rust.yml
  datafusion-cli/Cargo.lock
  datafusion/core/src/datasource/physical_plan/parquet/row_filter.rs
  datafusion/core/src/physical_optimizer/topk_aggregation.rs
  datafusion/expr/src/type_coercion/binary.rs
  datafusion/expr/src/type_coercion/functions.rs
  datafusion/functions/src/datetime/date_bin.rs
  datafusion/optimizer/src/simplify_expressions/guarantees.rs
  rust-toolchain.toml
Labels: logical-expr, core, optimizer

#275 Ensure that math functions fulfil the ColumnarValue contract
  datafusion/expr/src/columnar_value.rs
  datafusion/functions/src/macros.rs
Labels: logical-expr

#276 Handle one-element array return value in ScalarFunctionExpr
  datafusion/expr/src/columnar_value.rs
  datafusion/functions/src/macros.rs
  datafusion/physical-expr/src/scalar_function.rs
Labels: logical-expr, physical-expr
