Repository coralogix/arrow-datafusion, pull requests merged in 2024-07, with the labels that each got.

#248 Change `FileSink.object_store_url` to Url
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write/orchestration.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: core

#247 Change `FileSink.object_store_url` to Url
  datafusion/core/src/datasource/file_format/arrow.rs
  datafusion/core/src/datasource/file_format/parquet.rs
  datafusion/core/src/datasource/file_format/write/orchestration.rs
  datafusion/core/src/datasource/listing/table.rs
  datafusion/core/src/datasource/physical_plan/mod.rs
  datafusion/core/src/physical_planner.rs
  datafusion/proto/Cargo.toml
  datafusion/proto/src/physical_plan/from_proto.rs
  datafusion/proto/tests/cases/roundtrip_physical_plan.rs
Labels: core

#249 Avoid calling shutdown after failed write of AsyncWrite
  datafusion/core/src/datasource/file_format/write/orchestration.rs
Labels: core

#250 Avoid calling shutdown after failed write of AsyncWrite (#249)
  datafusion/core/src/datasource/file_format/write/orchestration.rs
Labels: core

#252 Add customizable equality and hash functions to UDFs
  datafusion/core/tests/sql/select.rs
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/udwf.rs
  datafusion/sqllogictest/test_files/array_query.slt
Labels: logical-expr, core, sqllogictest

#251 Allow customizing UDF equality and hash
  datafusion/core/tests/user_defined/user_defined_aggregates.rs
  datafusion/core/tests/user_defined/user_defined_scalar_functions.rs
  datafusion/expr/src/udaf.rs
  datafusion/expr/src/udf.rs
  datafusion/expr/src/udwf.rs
  datafusion/expr/src/utils.rs
Labels: logical-expr, core

#255 Fix approx_percentile_cont in presence of nulls
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest

#256 Fix nullability of output
  datafusion/physical-expr/src/aggregate/approx_percentile_cont.rs
  datafusion/physical-expr/src/aggregate/build_in.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest
