Repository coralogix/arrow-datafusion, pull requests merged in 2025-03, with the labels that each got.

#283 V39: Support Duration in min/max agg functions
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest

#284 V42: Support Duration in min/max agg functions
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest, functions

#286 Fix panics in array_union
  .github/workflows/rust.yml
  datafusion/functions-nested/src/set_ops.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: development-process, sqllogictest

#287 Fix panics in array_union
  Cargo.toml
  datafusion/functions-array/src/set_ops.rs
  datafusion/sqllogictest/test_files/array.slt
  rust-toolchain.toml
Labels: sqllogictest

#288 V39: Backport `GroupsAccumulator` for Duration min/max agg
  datafusion/physical-expr/src/aggregate/min_max.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: physical-expr, sqllogictest

#289 V42: Backport `GroupsAccumulator` for Duration min/max agg
  datafusion/functions-aggregate/src/min_max.rs
  datafusion/sqllogictest/test_files/aggregate.slt
Labels: sqllogictest, functions

#291 Fix array_sort for empty record batch
  datafusion/functions-nested/src/sort.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest

#290 Fix array_sort for empty record batch
  datafusion/functions-array/src/sort.rs
  datafusion/sqllogictest/test_files/array.slt
Labels: sqllogictest
